In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os

In [3]:
os.chdir('C:\\Users\\Admin\\Downloads\\Global Terrorism - START data')

In [6]:
df = pd.read_csv('globalterrorism.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 7127: invalid continuation byte

# Detecting the encoding type of my csv file by using chardet library

## (chardet is a Universal encoding detector for Python 3)

In [7]:
import chardet

# Detect the encoding of the CSV file
with open('globalterrorism.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read())
encoding = result['encoding']

print(f"The detected encoding is: {encoding}")

The detected encoding is: Windows-1252

# Encoding type of my CSV file is windows-01252.
# So while loading file I'll pass extra command after writing my file name.
# df = pd.read_csv('file_name.csv', encoding = encoding_type )

In [9]:


# Read the CSV file with the detected encoding (Windows-1252)
df = pd.read_csv('globalterrorism.csv', encoding='Windows-1252')

C:\Users\Admin\AppData\Local\Temp\ipykernel_6564\360511282.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('globalterrorism.csv', encoding='Windows-1252')

# ERROR RESOLVED!

In [10]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [13]:
missing = df.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [14]:
# Calculate missing values
missing = df.isnull().sum()

# Iterate through the missing values and print them
for column, count in missing.items():
    print(f'Column: {column}, Missing Values: {count}')

Column: eventid, Missing Values: 0
Column: iyear, Missing Values: 0
Column: imonth, Missing Values: 0
Column: iday, Missing Values: 0
Column: approxdate, Missing Values: 172452
Column: extended, Missing Values: 0
Column: resolution, Missing Values: 179471
Column: country, Missing Values: 0
Column: country_txt, Missing Values: 0
Column: region, Missing Values: 0
Column: region_txt, Missing Values: 0
Column: provstate, Missing Values: 421
Column: city, Missing Values: 434
Column: latitude, Missing Values: 4556
Column: longitude, Missing Values: 4557
Column: specificity, Missing Values: 6
Column: vicinity, Missing Values: 0
Column: location, Missing Values: 126196
Column: summary, Missing Values: 66129
Column: crit1, Missing Values: 0
Column: crit2, Missing Values: 0
Column: crit3, Missing Values: 0
Column: doubtterr, Missing Values: 1
Column: alternative, Missing Values: 152680
Column: alternative_txt, Missing Values: 152680
Column: multiple, Missing Values: 1
Column: success, Missing Values: 0
Column: suicide, Missing Values: 0
Column: attacktype1, Missing Values: 0
Column: attacktype1_txt, Missing Values: 0
Column: attacktype2, Missing Values: 175377
Column: attacktype2_txt, Missing Values: 175377
Column: attacktype3, Missing Values: 181263
Column: attacktype3_txt, Missing Values: 181263
Column: targtype1, Missing Values: 0
Column: targtype1_txt, Missing Values: 0
Column: targsubtype1, Missing Values: 10373
Column: targsubtype1_txt, Missing Values: 10373
Column: corp1, Missing Values: 42550
Column: target1, Missing Values: 636
Column: natlty1, Missing Values: 1559
Column: natlty1_txt, Missing Values: 1559
Column: targtype2, Missing Values: 170547
Column: targtype2_txt, Missing Values: 170547
Column: targsubtype2, Missing Values: 171006
Column: targsubtype2_txt, Missing Values: 171006
Column: corp2, Missing Values: 171574
Column: target2, Missing Values: 170671
Column: natlty2, Missing Values: 170863
Column: natlty2_txt, Missing Values: 170863
Column: targtype3, Missing Values: 180515
Column: targtype3_txt, Missing Values: 180515
Column: targsubtype3, Missing Values: 180594
Column: targsubtype3_txt, Missing Values: 180594
Column: corp3, Missing Values: 180665
Column: target3, Missing Values: 180516
Column: natlty3, Missing Values: 180544
Column: natlty3_txt, Missing Values: 180544
Column: gname, Missing Values: 0
Column: gsubname, Missing Values: 175801
Column: gname2, Missing Values: 179678
Column: gsubname2, Missing Values: 181531
Column: gname3, Missing Values: 181367
Column: gsubname3, Missing Values: 181671
Column: motive, Missing Values: 131130
Column: guncertain1, Missing Values: 380
Column: guncertain2, Missing Values: 179736
Column: guncertain3, Missing Values: 181371
Column: individual, Missing Values: 0
Column: nperps, Missing Values: 71115
Column: nperpcap, Missing Values: 69489
Column: claimed, Missing Values: 66120
Column: claimmode, Missing Values: 162608
Column: claimmode_txt, Missing Values: 162608
Column: claim2, Missing Values: 179801
Column: claimmode2, Missing Values: 181075
Column: claimmode2_txt, Missing Values: 181075
Column: claim3, Missing Values: 181373
Column: claimmode3, Missing Values: 181558
Column: claimmode3_txt, Missing Values: 181558
Column: compclaim, Missing Values: 176852
Column: weaptype1, Missing Values: 0
Column: weaptype1_txt, Missing Values: 0
Column: weapsubtype1, Missing Values: 20768
Column: weapsubtype1_txt, Missing Values: 20768
Column: weaptype2, Missing Values: 168564
Column: weaptype2_txt, Missing Values: 168564
Column: weapsubtype2, Missing Values: 170149
Column: weapsubtype2_txt, Missing Values: 170149
Column: weaptype3, Missing Values: 179828
Column: weaptype3_txt, Missing Values: 179828
Column: weapsubtype3, Missing Values: 179998
Column: weapsubtype3_txt, Missing Values: 179998
Column: weaptype4, Missing Values: 181618
Column: weaptype4_txt, Missing Values: 181618
Column: weapsubtype4, Missing Values: 181621
Column: weapsubtype4_txt, Missing Values: 181621
Column: weapdetail, Missing Values: 67670
Column: nkill, Missing Values: 10313
Column: nkillus, Missing Values: 64446
Column: nkillter, Missing Values: 66958
Column: nwound, Missing Values: 16311
Column: nwoundus, Missing Values: 64702
Column: nwoundte, Missing Values: 69143
Column: property, Missing Values: 0
Column: propextent, Missing Values: 117626
Column: propextent_txt, Missing Values: 117626
Column: propvalue, Missing Values: 142702
Column: propcomment, Missing Values: 123732
Column: ishostkid, Missing Values: 178
Column: nhostkid, Missing Values: 168119
Column: nhostkidus, Missing Values: 168174
Column: nhours, Missing Values: 177628
Column: ndays, Missing Values: 173567
Column: divert, Missing Values: 181367
Column: kidhijcountry, Missing Values: 178386
Column: ransom, Missing Values: 104310
Column: ransomamt, Missing Values: 180341
Column: ransomamtus, Missing Values: 181128
Column: ransompaid, Missing Values: 180917
Column: ransompaidus, Missing Values: 181139
Column: ransomnote, Missing Values: 181177
Column: hostkidoutcome, Missing Values: 170700
Column: hostkidoutcome_txt, Missing Values: 170700
Column: nreleased, Missing Values: 171291
Column: addnotes, Missing Values: 153402
Column: scite1, Missing Values: 66191
Column: scite2, Missing Values: 104758
Column: scite3, Missing Values: 138175
Column: dbsource, Missing Values: 0
Column: INT_LOG, Missing Values: 0
Column: INT_IDEO, Missing Values: 0
Column: INT_MISC, Missing Values: 0
Column: INT_ANY, Missing Values: 0
Column: related, Missing Values: 156653

In [15]:
threshold = 0.5  # For example, to keep columns with less than 50% missing values

# Calculate the number of missing values in each column
missing_values = df.isnull().sum()

# Calculate the percentage of missing values in each column
percentage_missing = (missing_values / len(df)) * 100

# Create a list of columns to drop based on the threshold
columns_to_drop = percentage_missing[percentage_missing > threshold].index

# Drop the selected columns from the DataFrame
df = df.drop(columns=columns_to_drop)

In [16]:
missing = df.isnull().sum()

# Iterate through the missing values and print them
for column, count in missing.items():
    print(f'Column: {column}, Missing Values: {count}')

Column: eventid, Missing Values: 0
Column: iyear, Missing Values: 0
Column: imonth, Missing Values: 0
Column: iday, Missing Values: 0
Column: extended, Missing Values: 0
Column: country, Missing Values: 0
Column: country_txt, Missing Values: 0
Column: region, Missing Values: 0
Column: region_txt, Missing Values: 0
Column: provstate, Missing Values: 421
Column: city, Missing Values: 434
Column: specificity, Missing Values: 6
Column: vicinity, Missing Values: 0
Column: crit1, Missing Values: 0
Column: crit2, Missing Values: 0
Column: crit3, Missing Values: 0
Column: doubtterr, Missing Values: 1
Column: multiple, Missing Values: 1
Column: success, Missing Values: 0
Column: suicide, Missing Values: 0
Column: attacktype1, Missing Values: 0
Column: attacktype1_txt, Missing Values: 0
Column: targtype1, Missing Values: 0
Column: targtype1_txt, Missing Values: 0
Column: target1, Missing Values: 636
Column: gname, Missing Values: 0
Column: guncertain1, Missing Values: 380
Column: individual, Missing Values: 0
Column: weaptype1, Missing Values: 0
Column: weaptype1_txt, Missing Values: 0
Column: property, Missing Values: 0
Column: ishostkid, Missing Values: 178
Column: dbsource, Missing Values: 0
Column: INT_LOG, Missing Values: 0
Column: INT_IDEO, Missing Values: 0
Column: INT_MISC, Missing Values: 0
Column: INT_ANY, Missing Values: 0

In [20]:
 mode =df['provstate'].mode()[0]

In [21]:
df['provstate'].fillna(mode, inplace=True)

In [34]:
df['city'] = df['city'].fillna('Unknown')

In [23]:
 mode =df['target1'].mode()[0]

In [24]:
mode

'Civilians'

In [25]:
df['target1'].fillna(mode, inplace=True)

In [30]:
df['guncertain1'] = df['guncertain1'].fillna(0)

In [31]:
df['ishostkid']=df['ishostkid'].fillna(0)

In [32]:
df.fillna(0)

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,provstate,...,individual,weaptype1,weaptype1_txt,property,ishostkid,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
0,197000000001,1970,7,2,0,58,Dominican Republic,2,Central America & Caribbean,Baghdad,...,0,13,Unknown,0,0.0,PGIS,0,0,0,0
1,197000000002,1970,0,0,0,130,Mexico,1,North America,Federal,...,0,13,Unknown,0,1.0,PGIS,0,1,1,1
2,197001000001,1970,1,0,0,160,Philippines,5,Southeast Asia,Tarlac,...,0,13,Unknown,0,0.0,PGIS,-9,-9,1,1
3,197001000002,1970,1,0,0,78,Greece,8,Western Europe,Attica,...,0,6,Explosives,1,0.0,PGIS,-9,-9,1,1
4,197001000003,1970,1,0,0,101,Japan,4,East Asia,Fukouka,...,0,8,Incendiary,1,0.0,PGIS,-9,-9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,0,182,Somalia,11,Sub-Saharan Africa,Middle Shebelle,...,0,5,Firearms,-9,0.0,START Primary Collection,0,0,0,0
181687,201712310029,2017,12,31,0,200,Syria,10,Middle East & North Africa,Lattakia,...,0,6,Explosives,1,0.0,START Primary Collection,-9,-9,1,1
181688,201712310030,2017,12,31,0,160,Philippines,5,Southeast Asia,Maguindanao,...,0,8,Incendiary,1,0.0,START Primary Collection,0,0,0,0
181689,201712310031,2017,12,31,0,92,India,6,South Asia,Manipur,...,0,6,Explosives,-9,0.0,START Primary Collection,-9,-9,0,-9
181690,201712310032,2017,12,31,0,160,Philippines,5,Southeast Asia,Maguindanao,...,0,6,Explosives,0,0.0,START Primary Collection,-9,-9,0,-9

In [43]:
missing = df.isnull().sum()

# Iterate through the missing values and print them
for column, count in missing.items():
    print(f'Column: {column}, Missing Values: {count}')

Column: eventid, Missing Values: 0
Column: iyear, Missing Values: 0
Column: imonth, Missing Values: 0
Column: iday, Missing Values: 0
Column: extended, Missing Values: 0
Column: country, Missing Values: 0
Column: country_txt, Missing Values: 0
Column: region, Missing Values: 0
Column: region_txt, Missing Values: 0
Column: provstate, Missing Values: 0
Column: city, Missing Values: 0
Column: specificity, Missing Values: 0
Column: vicinity, Missing Values: 0
Column: crit1, Missing Values: 0
Column: crit2, Missing Values: 0
Column: crit3, Missing Values: 0
Column: doubtterr, Missing Values: 0
Column: multiple, Missing Values: 0
Column: success, Missing Values: 0
Column: suicide, Missing Values: 0
Column: attacktype1, Missing Values: 0
Column: attacktype1_txt, Missing Values: 0
Column: targtype1, Missing Values: 0
Column: targtype1_txt, Missing Values: 0
Column: target1, Missing Values: 0
Column: gname, Missing Values: 0
Column: guncertain1, Missing Values: 0
Column: individual, Missing Values: 0
Column: weaptype1, Missing Values: 0
Column: weaptype1_txt, Missing Values: 0
Column: property, Missing Values: 0
Column: ishostkid, Missing Values: 0
Column: dbsource, Missing Values: 0
Column: INT_LOG, Missing Values: 0
Column: INT_IDEO, Missing Values: 0
Column: INT_MISC, Missing Values: 0
Column: INT_ANY, Missing Values: 0
Column: miltiple, Missing Values: 0

In [42]:
 df['multiple'] = df['multiple'].fillna(0)

## Saving into excel

In [ ]:
# Replace 'your_data.xlsx' with the path to your Excel file
excel_file_path = 'globalterrorism.'

# Save the DataFrame to the same Excel file
df.to_excel(excel_file_path, index=False)  # Set index=False to avoid writing the index column